@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

body,
html {
	@apply bg-[#ffecf42e];
	font-family: "Fira code", "Fira Mono", Consolas, Menlo, Courier, monospace;
	font-size: 12px;
	line-height: 1.5;
}

input,
select:focus,
textarea {
	outline: none;
}

.editor {
	counter-reset: line;
}

.editor textarea {
	outline: none;
	padding-left: 60px !important;
}

.editor pre {
	padding-left: 60px !important;
}

.editor .editorLineNumber {
	position: absolute;
	left: 0px;
	color: #cccccc;
	text-align: right;
	width: 40px;
	font-weight: 100;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
